<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>

		<ion-item>
		  <ion-label position="floating">Username</ion-label>
		  <ion-input type="text" [(ngModel)]="email"></ion-input>
		</ion-item>

		<ion-item>
		  <ion-label position="floating">Password</ion-label>
		  <ion-input type="password" [(ngModel)]="password"></ion-input>
		</ion-item>

	  </ion-list>
    <ion-button fill="solid" expand="block" color="dark" (click)="loginUser()">User Login</ion-button>

	  <ion-button fill="solid" expand="block" color="danger" (click)="googleSignIn()">Register With Google</ion-button>
    <ion-button [routerLink]="['tabs']">Go to detail</ion-button>
</ion-content>
