<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-title>
    Heart App
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- end header -->
<ion-tabs main>
<!-- filler header -->
<ion-header no-border><ion-toolbar></ion-toolbar></ion-header>



<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="uploader">
       <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
      <ion-label>Uploader</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <!-- <ion-tab-button tab="link">
    <ion-icon name="link"></ion-icon>
    <ion-label>Link</ion-label>
  </ion-tab-button> -->

</ion-tabs>
