<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Idea Submission</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content class="ion-padding">
    <ion-card>
      <img src="https://lh3.googleusercontent.com/YOtG2DiQ2aVXpmmaPC4rNhjLYinoFCaKUGXFb4RwhMsIF8_957XQRroxewCMSG6bLJY">
    </ion-card>

    <ion-card *ngFor="let file of files| async; let i=index">
      <ion-card-header>
        {{file.created | date: 'medium'}}
      </ion-card-header>

      <ion-card-content>
        <ion-button fill="outline" size= "default" expand="block"  (click)="hideme[i] = !hideme[i]">
          <ion-icon name="eye"></ion-icon>
            <span>{{file.fileName }}</span>
        </ion-button>

        <div [hidden]="!hideme[i]">
            {{file.fileContent}}
        </div>

        <ion-button fill="outline" expand="block" block icon-only color="danger" (click)="deleteFiles(file)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </ion-button>

        <ion-fab right bottom >
          <a (click)="downloadFile(file.fullpath)">Download Idea</a>
        </ion-fab>

      </ion-card-content>
    </ion-card>
    <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addFile()" >
        <ion-icon name="add" ></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
