<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335376849565-ons17tfjmuqv6qg0or6ibumtm3d80psq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335376849565-ons17tfjmuqv6qg0or6ibumtm3d80psq</string>
	<key>API_KEY</key>
	<string>AIzaSyDvJwwTLMMyqjx9RvTn0GTRpob3JvMAyWk</string>
	<key>GCM_SENDER_ID</key>
	<string>335376849565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.starter</string>
	<key>PROJECT_ID</key>
	<string>heartmobileapp</string>
	<key>STORAGE_BUCKET</key>
	<string>heartmobileapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335376849565:ios:623a992c4c62a635681274</string>
	<key>DATABASE_URL</key>
	<string>https://heartmobileapp.firebaseio.com</string>
</dict>
</plist>