<ion-header>
  <ion-toolbar>
    <ion-title>news</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let file of files| async; let i=index">
    <ion-card-header>
      {{file.created | date: 'medium'}}
    </ion-card-header>

    <ion-card-content>
      <ion-button fill="outline" size= "default" expand="block"  (click)="hideme[i] = !hideme[i]">
        <ion-icon name="eye"></ion-icon>
          <span>{{file.fileName }}</span>
      </ion-button>

      <div [hidden]="!hideme[i]">
        content:  {{file.fileContent}}
      </div>

      <ion-button fill="outline" expand="block" block icon-only color="danger" (click)="deleteFiles(file)">
        <ion-icon name="trash"></ion-icon>
        Delete
      </ion-button>
    </ion-card-content>
  </ion-card>


  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addFile()">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
