<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Upload Files </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="camera"></div>
  <ion-button (click)="selectImage()">Pick Image</ion-button>
  <ion-button (click)="takeImage()">Take Photo</ion-button>


  <ion-card *ngFor="let file of files| async">
    <ion-card-header>
      {{file.created | date: 'medium'}}
    </ion-card-header>

    <ion-card-content>

      <button ion-button block icon-left outline (click)="viewFile(file.url)">
        <ion-icon name="eye"></ion-icon>
        {{ file.fullPath}}
      </button>

      <button ion-button block icon-only outline color="danger" (click)="deleteFile(file.url)">
        <ion-icon name="trash"></ion-icon>
      </button>

    </ion-card-content>
  </ion-card>


  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addFile()">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
